In [60]:
import pandas as pd

In [61]:
from collections import defaultdict

In [62]:
df = pd.read_csv("D:/NaNa/kuliah/BANGKIT/capstone/ViVe-Machine-Learning/data/datasets/updated/tourism_with_id_updated.csv")
df.head(5)

,Place_Id,Place_Name,Description,City,Price,Rating,Time_Minutes,Coordinate,Lat,Long,new_category
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Jakarta,20000,4.6,15.0,"{'lat': -6.1753924, 'lng': 106.8271528}",-6.175392,106.827153,"['Budaya', 'Keluarga']"
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...",Jakarta,0,4.6,90.0,"{'lat': -6.137644799999999, 'lng': 106.8171245}",-6.137645,106.817125,['Budaya']
2,3,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...,Jakarta,270000,4.6,360.0,"{'lat': -6.125312399999999, 'lng': 106.8335377}",-6.125312,106.833538,"['Hiburan', 'Keluarga']"
3,4,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah merupakan suatu kaw...,Jakarta,10000,4.5,NaN,"{'lat': -6.302445899999999, 'lng': 106.8951559}",-6.302446,106.895156,"['Budaya', 'Hiburan']"
4,5,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...,Jakarta,94000,4.5,60.0,"{'lat': -6.12419, 'lng': 106.839134}",-6.124190,106.839134,"['Petualangan', 'Hiburan']"

In [63]:
mood_category = {
    'happy' : ['Petualangan', 'Keluarga', 'Romantis', 'Budaya', 'Sejarah'],
    'sad' : ['Petualangan', 'Keluarga', 'Romantis', 'Budaya', 'Sejarah'],
    'calm' : ['Alam', 'Hiburan', 'Olahraga', 'Relaksasi'],
    'angry' : ['Alam', 'Hiburan', 'Olahraga', 'Relaksasi']
}

In [64]:
def filter_by_budget(df, column_name, category):
    category = category.capitalize()
    quartiles = df[column_name].quantile([0.25, 0.5, 0.75])
    q1 = quartiles[0.25]
    q2 = quartiles[0.5]
    q3 = quartiles[0.75]

    if category == "Low":
        filtered_df = df[df[column_name] <= q1]
    elif category == "Medium":
        filtered_df = df[(df[column_name] > q1) & (df[column_name] <= q2)]
    elif category == "High":
        filtered_df = df[((df[column_name] > q2) & (df[column_name] <= q3)) | (df[column_name] > q3) ]
    elif category == "Random":
        filtered_df = df
    else:
        filtered_df = []

    return filtered_df

In [72]:
def filter_by_city(df, city):
    city = city.capitalize()
    filtered_df = df[df['City'] == city]

    return filtered_df

In [77]:
def filter_by_mood(df, mood):
    mood = mood.capitalize()
    if mood == 'happy' or mood == 'sad':
        preferences = ['Petualangan', 'Keluarga', 'Romantis', 'Budaya', 'Sejarah']
    elif mood == 'calm' or modd == 'angry':
        preferences = ['Alam', 'Hiburan', 'Olahraga', 'Relaksasi']

    return preferences

In [79]:
def place_recommendation(df, budget, city, mood):
    recomended_destination_mood = filtered_df[filtered_df["new_category"].apply(lambda x: any(preference in x for preference in mood_preferences))]
    recomended_destination_budget = filter_by_budget(recomended_destination_mood, column_name, category)
    recomended_destination_city = filter_by_city(recomended_destination_budget, city)

    return recomended_destination_city