In [44]:
import pandas as pd

In [45]:
from collections import defaultdict

In [46]:
data = pd.read_csv("D:/NaNa/kuliah/BANGKIT/capstone/ViVe-Machine-Learning/data/datasets/updated/tourism_with_id_updated.csv")
data.head(5)

,Place_Id,Place_Name,Description,City,Price,Rating,Time_Minutes,Coordinate,Lat,Long,new_category
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Jakarta,20000,4.6,15.0,"{'lat': -6.1753924, 'lng': 106.8271528}",-6.175392,106.827153,"['Budaya', 'Keluarga']"
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...",Jakarta,0,4.6,90.0,"{'lat': -6.137644799999999, 'lng': 106.8171245}",-6.137645,106.817125,['Budaya']
2,3,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...,Jakarta,270000,4.6,360.0,"{'lat': -6.125312399999999, 'lng': 106.8335377}",-6.125312,106.833538,"['Hiburan', 'Keluarga']"
3,4,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah merupakan suatu kaw...,Jakarta,10000,4.5,NaN,"{'lat': -6.302445899999999, 'lng': 106.8951559}",-6.302446,106.895156,"['Budaya', 'Hiburan']"
4,5,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...,Jakarta,94000,4.5,60.0,"{'lat': -6.12419, 'lng': 106.839134}",-6.124190,106.839134,"['Petualangan', 'Hiburan']"

In [47]:
mood_category = {
    'happy' : ['Petualangan', 'Keluarga', 'Romantis', 'Budaya', 'Sejarah'],
    'sad' : ['Petualangan', 'Keluarga', 'Romantis', 'Budaya', 'Sejarah'],
    'calm' : ['Alam', 'Hiburan', 'Olahraga', 'Relaksasi'],
    'angry' : ['Alam', 'Hiburan', 'Olahraga', 'Relaksasi']
}

In [48]:
def place_recommendation(mood, city, price):
    if mood not in mood_category:
        print("Error: Invalid Mood")
        return
    
    filter = data.loc[(data['City'] == city) & (data['Price'] <= price) & (data['new_category'].isin(mood_category[mood]))]
    
    if filter.empty:
        print("Error: No Recomendation")
    else:
        print("Recommendation:")
        for index, place_recommendation in filter.iterrows():
            print("Place Name:", place_recommendation['Place_Name'])
            print("City:", place_recommendation['City'])
            print("Rating:", place_recommendation['Rating'])

In [49]:
print(place_recommendation('happy', 'Jakarta', int(100000)))

Error: No Recomendation
None