## this is the recommendation based on constraint

In [135]:
import pandas as pd

In [136]:
df = pd.read_csv("../data/datasets/updated/tourism_with_id_updated.csv")

In [137]:
# knowledge based on paper
def mood_constraint(mood):
    mood = mood.capitalize()
    if mood == "Senang" or mood == "Sedih":
        preferences = ["Petualangan", "Keluarga", "Romantis", "Budaya"]
    elif mood == "Tenang" or mood == "Marah":
        preferences = ["Alam", "Hiburan", "Olahraga", "Relaksasi"]
    
    return preferences

In [138]:
def filter_by_budget(df, column_name, category):
    category = category.capitalize()
    quartiles = df[column_name].quantile([0.25, 0.5, 0.75])
    q1 = quartiles[0.25]
    q2 = quartiles[0.5]
    q3 = quartiles[0.75]

    if category == "Low":
        filtered_df = df[df[column_name] <= q1]
    elif category == "Medium":
        filtered_df = df[(df[column_name] > q1) & (df[column_name] <= q2)]
    elif category == "High":
        filtered_df = df[((df[column_name] > q2) & (df[column_name] <= q3)) | (df[column_name] > q3) ]
    elif category == "Random":
        filtered_df = df
    else:
        filtered_df = []

    return filtered_df

In [139]:
def filter_by_city(df, city):
    city = city.capitalize()
    filtered_df = df[df["City"] == city]
    return filtered_df

In [140]:
def knowledge_recommender(df, mood, budget, city):
    recommended_destinations = []
    
    mood_preferences = mood_constraint(mood)
    
    # filter dataset based on budget
    filtered_df = filter_by_budget(df,"Price",budget)

    # filter dataset based on city
    filtered_df = filter_by_city(filtered_df,city)

    #print(filtered_df)
    recommended_destinations = filtered_df[filtered_df["new_category"].apply(lambda x: any(preference in x for preference in mood_preferences))]

    
    return recommended_destinations

In [152]:
test = knowledge_recommender(df, 'Tenang', 'High', "Bandung")

In [153]:
test.head(3)

,Place_Id,Place_Name,Description,City,Price,Rating,Time_Minutes,Coordinate,Lat,Long,new_category
210,211,Gunung Tangkuban Parahu,Gunung Tangkuban Parahu adalah salah satu gunu...,Bandung,30000,4.5,NaN,"{'lat': -6.759637700000001, 'lng': 107.6097807}",-6.759638,107.609781,"['Alam', 'Petualangan']"
213,214,Trans Studio Bandung,Trans Studio Bandung adalah kawasan wisata ter...,Bandung,280000,4.5,240.0,"{'lat': -6.9250943, 'lng': 107.6364944}",-6.925094,107.636494,"['Hiburan', 'Keluarga']"
214,215,Taman Hutan Raya Ir. H. Djuanda,Taman Hutan Raya Ir. H. Djuanda (Tahura Djuand...,Bandung,15000,4.5,90.0,"{'lat': -6.8565791, 'lng': 107.6323734}",-6.856579,107.632373,"['Alam', 'Relaksasi']"